.footer {
  @extend .main-block;
  color: $secondary-color;

  .separator {
    width: 100%;
    height: 1px;
    background-color: $gray-black;
  }

  .section {
    background-color: transparent;
    color: $secondary-color;

    .title {
      color: $secondary-color;

      font-size: 12px;
      font-weight: bold;
      font-style: normal;
      font-stretch: normal;
      letter-spacing: .8px;
    }

    .subtitle {
      opacity: .5;
      font-size: 11px;
      font-weight: normal;
      font-style: normal;
      font-stretch: normal;
      line-height: 1.45;
      color: $secondary-color;

      .icon {
        margin: 5px;

        &:first-child {
          margin-left: 0;
        }
      }

      .paragraph {
        max-width: 165px;
      }
    }
  }

  .paragraph {
    opacity: .5;
    font-size: 11px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.45;
    color: $secondary-color;
  }

  .top-button {
    display: block;
    width: 24px;
    height: 24px;
    border: 0;
    border-radius: 2.1px;
    background-color: $tomato;
    color: $secondary-color;
    padding: 5px;
    margin-top: 5px;
  }

  .tab-item {
    a {
      border-bottom: 1px solid transparent;

      &:hover {
        border-bottom: 1px solid $secondary-color;
        color: $secondary-color;
      }
    }
  }

  .above-content {
    vertical-align: middle;
    width: 100%;
    margin-top: 10px;
  }

  .float-bottom-mobile {
    padding: 10px;
  }

  .left-content {
    float: left;
  }

  .right-content {
    float: right;
  }

  @media (min-width: 980px) {
    .section {
      .subtitle {
        .paragraph {
          max-width: 310px;
        }
      }
    }

    .above-content {
      .top-text {
        display: none;
      }
    }

    .is-pulled-right {
      margin-left: 100%;
    }
  }
}
