.main-section {
  @extend .content-block;
  padding-bottom: 50px;

  .title {
    padding: 50px 25px 10px;
    @include title($secondary-color);
  }

  .subtitle {
    font-size: 11px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.45;
    padding: 0 25px;
    text-align: center;
    color: $secondary-color;
  }

  .cards-container {
    text-align: center;
    padding: 10px;
  }

  .picture-card {
    border: $secondary-color solid 1px;
    text-align: center;
  }

  .tabs-container {
    .icon {
      display: none;
    }
  }

  .tab-item {
    a {
      font-weight: lighter;
    }

    &.is-active {
      a {
        font-weight: bold;
      }
    }
  }

  @media (max-width: 980px) {
    .tabs-container {
      display: list-item;
      border: solid 1px white;
      border-radius: 35px;
      max-width: 70%;
      padding: 0;
      text-align: center;
      margin: 15px 15%;
      max-height: 40px;

      .tab-item:not(.is-active) {
        display: none;
      }

      .icon {
        position: relative;
        display: block;
        top: 5px;
        float: right;
        left: -5px;
        z-index: 15;
      }

    }

    .open {
      background-color: $main-color;
      .tab-item {
        display: block !important;
        background-color: $main-color;
        position: relative;
        z-index: 10;

        &:nth-child(2) {
          border-radius: 35px;
          border-bottom: solid 1px white;
        }

        &:nth-last-child(1) {
          border-radius: 0 0 35px 35px;
          border-bottom: solid 1px white;
        }
      }
    }
  }
}
