.main-section {
  @extend .content-block;
  padding-bottom: 50px;

  .title {
    padding: 50px 25px 10px;
    @include title($secondary-color);
  }

  .subtitle {
    font-size: 11px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.45;
    padding: 0 25px;
    text-align: center;
    color: $secondary-color;
  }

  .cards-container {
    text-align: center;
    padding: 10px;
  }

  .picture-card {
    border: $secondary-color solid 1px;
    text-align: center;
  }
}
