$open-bgcolor: #6b6b6b;

.nav {
  @extend .main-block;
  max-height: 56px;

  .menu-item {
    color: $secondary-color;
    max-height: 30px;

    &:hover {
      color: $white-hover;
    }
  }

  .hollowed-button {
    border: solid 2px $secondary-color;
    border-radius: 50px;

    &:hover {
      border-color: $white-hover;
    }
  }
  @media (max-width: 980px) {
    .open {
      display: block;

      .menu-item {
        background-color: $open-bgcolor;
        display: block;
        margin: 0 auto;
      }

      .hollowed-button {
        border: 0;
        border-radius: 0;
        border-top: 1px solid $gray-border;
      }
    }

    .nav-toggle {
      $ham-width: 16px;

      &:hover {
        background-color: $main-color;
      }

      span {
        background-color: $secondary-color;
        height: 2px;
        width: $ham-width;
      }

      .half-bar {
        $half-bar-width: $ham-width / 2;
        left: calc(50% + #{$half-bar-width});
        width: $half-bar-width;
      }
    }
  }

  @media (min-width: 980px) {
    height: 156px;

    .logo {
      padding: 10px 65px;
    }

    .nav-right {
      padding: 10px;
      padding-right: 5%;

      .menu-item {
        margin: 0 5px;
      }

      .hollowed-button {
        padding: 10px 20px;
      }
    }
  }
}
