$main-color: #4b4b4b;

.nav {
  background-color: $main-color;


  .open {
    display: block;
  }

  .nav-toggle {
    $ham-width: 16px;

    &:hover {
      background-color: $main-color;
    }
    
    span {
      background-color: white;
      width: $ham-width;
      height: 2px;
    }
    .half-bar {
      width: $ham-width/2;
      left: calc(50% + $ham-width/2);
    }
  }
}
