.bg-city {
  @extend .content-block;
  background: url('../assets/images/background.png') center;
  background-size: cover;
  background-position: 50% 0;
  position: relative;
  top: -100vh;
  opacity: .79;
}
